# ~/.alias

# Utilities and tools.
alias c='clear'
alias chax='chmod a+x'
alias h='hostname'
alias i='curl icanhazip.com'
alias less='/usr/share/vim/vim74/macros/less.sh'
alias li='libreoffice'
alias psg='ps aux | grep'
alias rh='rehash'
alias sudo='nocorrect sudo'
alias xa='xrandr --auto'
alias xax='xrandr --auto; exit'
alias dual='xrandr --output VGA1 --right-of LVDS1 --auto'
alias dx='dual; exit'
alias fixwhitespace="ack --print0 -l '[ \t]+$' | \
  xargs -0 -n1 perl -pi -e 's/[ \t]+$//'"
alias mpvnova='mpv --no-video'
alias ....='cd ../../../..'
alias .....='cd ../../../../..'
alias ......='cd ../../../../../..'
alias grive='grive -p ~/grive'

# Programs.
alias m='make'
alias mu='mutt'
alias rsyncdir='rsync -azrv --progress'
alias up='yaourt -Syua'
alias yup='up --noconfirm'
alias vim='vim -p'
alias bup='vim +BundleInstall +qall'
alias y='yaourt'
alias ys='yaourt -S --noconfirm'
alias yr='yaourt -R --noconfirm'
alias z='zathura'

# Music.
alias sync-music='rsyncdir $HOME/docs/music/ dijkstra:~/mnt/usb/music/'
alias remove-tags='eyeD3 --remove-all'
alias add-tags='picard'
alias get-tags='exiftool -json'

# Android.
alias pullimages="adb pull /storage/sdcard0/DCIM/Camera ."

# Git.
alias ga='git add'
alias gc='git commit'
alias gcl='git clone'
alias gl='git pull'
alias gp='git push'
alias gsr='git svn rebase'
alias gsd='git svn dcommit'
alias gu="git reset --soft 'HEAD^'"
