# ~/.alias

# Utilities and tools.
alias c='clear'
alias chax='chmod a+x'
alias h='hostname'
alias i='curl icanhazip.com'
alias li='libreoffice'
alias psg='ps aux | grep'
alias rh='rehash'
alias sudo='nocorrect sudo'
alias xa='xrandr --auto'
alias xax='xrandr --auto; exit'
alias dx='dual; exit'
wget-rec() {
  wget --recursive \
    --page-requisites \
    --html-extension \
    --convert-links \
    --no-parent \
    $*
}
alias ....='cd ../../../..'
alias .....='cd ../../../../..'
alias ......='cd ../../../../../..'

# Programs.
alias m='make'
alias mu='mutt'
alias rsyncdir='rsync -azrv --progress'
alias up='yaourt -Syua'
alias v='vim'
alias y='yaourt'
alias ys='yaourt -S --noconfirm'
alias yr='yaourt -R --noconfirm'
alias z='zathura'

# Music.
playdir() {
  mplayer -novideo -shuffle -loop 0 -playlist <(find "$PWD" -type f)
}
alias pd='playdir'
alias prd='play-rand-dir'
alias sync-music='rsyncdir $HOME/docs/music/ dijkstra:~/mnt/usb/music/'

# Android.
alias m2a='musicToAndroid'
alias se=syncepub
alias pullimages="adb pull /storage/sdcard0/DCIM/Camera ."

# Git.
alias gcl='git clone'
alias gu="git reset --soft 'HEAD^'"
alias gsr='git svn rebase'
alias gsd='git svn dcommit'

# Surf websites.
surf-alias() { alias $1="nohup surf -z $3 '$2' &> /dev/null &"; }
surf-alias "td" 'https://todoist.com/app?v=189#agenda/(overdue,__7__days)' 0.9
surf-alias "ca" 'http://google.com/calendar' 0.7
surf-alias "gh" 'https://github.com' 0.6
surf-alias "gma" 'https://gmail.com' 0.7
surf-alias "voi" 'https://voice.google.com' 0.8
surf-alias "ddg" 'https://duckduckgo.com' 0.7
surf-alias "cl" 'http://clicky.com' 0.7
surf-alias "a" 'https://amazon.com' 0.7
surf-alias "b" 'https://bitbucket.org' 0.8
