[submodule ".oh-my-zsh"]
  path = .oh-my-zsh
  url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule ".emacs.d.old/snippets/yasnippet-snippets"]
	path = .emacs.d.old/snippets/yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git
[submodule ".emacs.d.old/snippets/yasmate"]
	path = .emacs.d.old/snippets/yasmate
  url = https://github.com/capitaomorte/yasmate.git
