.aria2/dht.dat
.emacs.d/auto-save-list
.emacs.d/elpa
.emacs.d/eshell
.emacs.d/saveplace.el
.emacs.d/tramp
.gnupg/*
!.gnupg/gpg-agent.conf
!.gnupg/gpg.conf
.mutt/private
.mutt/contacts
.mutt/cache
.mutt/postponed
.mutt/sent
.vim/.netrwhist
