[user]
	email = bamos@cs.cmu.edu
	name = Brandon Amos
	signingkey = B72D6B6F
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
#[commit]
#	gpgsign = true
[pull]
	rebase = true
[http]
	cookiefile = /Users/bamos/.gitcookies
