.aria2/dht.dat*
.emacs.d*/abbrev_defs
.emacs.d*/auto-save-list
.emacs.d*/elpa
.emacs.d*/ensime
.emacs.d*/eshell
.emacs.d*/helm-adaptive-history
.emacs.d*/network-security.data
.emacs.d*/recentf
.emacs.d*/saveplace.el
.emacs.d*/tramp
.emacs.d*/url
.gnupg/*
!.gnupg/gpg.conf
.mpv/watch_later
.mutt/private
.mutt/cache
.mutt/certificates
.mutt/contacts
.mutt/postponed*
.mutt/sent
.sbt/*
!.sbt/0.13/plugins/plugins.sbt
.vim/.netrwhist
.xmonad/*.state
