[user]
	email = brandon.amos.cs@gmail.com
	name = Brandon Amos
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
#[commit]
#	gpgsign = true
[pull]
	rebase = true
[http]
	cookiefile = /Users/bamos/.gitcookies
[credential]
	helper = store
[init]
	defaultBranch = main
[oh-my-zsh]
	hide-info = 0
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
