.aria2/dht.dat*
.emacs.d/auto-save-list
.emacs.d/network-security.data
.emacs.d/elpa
.emacs.d/eshell
.emacs.d/ensime
.emacs.d/saveplace.el
.emacs.d/tramp
.gnupg/*
!.gnupg/gpg.conf
.mpv/watch_later
.mutt/private
.mutt/cache
.mutt/certificates
.mutt/contacts
.mutt/postponed*
.mutt/sent
.sbt/*
!.sbt/0.13/plugins/plugins.sbt
.vim/.netrwhist
