[user]
	email = brandon.amos.cs@gmail.com
	name = Brandon Amos
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
#[commit]
#	gpgsign = true
[pull]
	rebase = true
[http]
	cookiefile = /Users/bamos/.gitcookies
[credential]
	helper = store
[init]
	defaultBranch = main
