Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight

Xcursor.theme: whiteglass
Xcursor.size: 14

! gcolor2/3: Color selector.
xterm.background: #262626
xterm.foreground: #ffffff

! URxvt*.transparent: true
! URxvt*.shading: 60
URxvt.background: #262626
URxvt.foreground: #ffffff
URxvt.xftAntialias: true
URxvt.font: xft:Bitstream Vera Sans Mono:pixelsize=12
URxvt.scrollBar: False
URxvt.scrollstyle: plain
URxvt.perl-ext-common: default,matcher,resize-font
URxvt.url-launcher: /usr/bin/google-chrome
URxvt.matcher.button: 1
URxvt.iso14755: False
! Requires urxvt-resize-font-git
URxvt.keysym.C-Up: resize-font:bigger
URxvt.keysym.C-Down: resize-font:smaller
